<%- include('partials/header') -%> 

  <h1 class="mb-3">Escrever</h1>
  
  <form action="/compose" method="post">
    <div class="mb-3">
      <label for="titulo" class="form-label"><strong>Título</strong></label>
      <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Digite o título da publicação">
    </div>
    <div class="mb-3">
      <label for="editor1" class="form-label"><strong>Conteúdo</strong></label>
      <textarea class="form-control" name="conteudo" id="editor1" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="publicar">Publicar</button>
  </form>

<%- include('partials/footer') -%> 