<%- include('partials/header') -%> 

  <h1>Sobre</h1>
  <p>Este app é um blog construído com as seguintes tecnologias:</p>
  <ul>
    <li>Node.js</li>
    <li>Express</li>
    <li>EJS</li>
    <li>MongoDB</li>
  </ul>  
<%- include('partials/footer') -%> 